
<mat-progress-bar *ngIf="loading" mode="determinate" value="{{uploadRate | async}}"></mat-progress-bar>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="saveCustomer()">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 wrapper">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input formControlName="fullName" type="text" matInput
                 placeholder="Ex. saman Silva">
        </mat-form-field>

    </div>
    <div class="col-12 col-md-4 col-lg-4 wrapper">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input formControlName="address" type="text" matInput
               placeholder="Ex. Colombo">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4 col-lg-4 wrapper">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Salary</mat-label>
        <input formControlName="salary" type="number" matInput
               placeholder="Ex. 500000">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4 col-lg-4 wrapper">
      <input (change)="onChangeFile($event)" formControlName="avatar" type="file">
    </div>
    <div class="col-12 wrapper">
      <div style="display: flex; align-items: center; justify-content: flex-end; margin-top: 20px">
        <button [disabled]="form.invalid || loading" mat-raised-button color="primary" type="submit">Save Customer</button>
      </div>
    </div>
  </div>
</div>
</form>
