<div class="container">
  <div class="row">
    <div class="col-12">

      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Address</th>
          <th>Salary</th>
          <th>Avatar</th>
          <th>Option</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tempCustomer of customers; index as num">
          <td>
            <div class="context">
              {{num + 1}}
            </div>
          </td>
          <td>
            <div class="context">
              {{tempCustomer?.data.fullName}}
            </div>
          </td>
          <td>
            <div class="context">
              {{tempCustomer?.data.address}}
            </div>
          </td>
          <td>
            <div class="context">
              {{tempCustomer?.data.salary | currency:'LKR'}}
            </div>
          </td>
          <td>
            <div class="context">
              <img [src]="tempCustomer?.data.avatar" alt="{{tempCustomer?.fullName}}">
            </div>
          </td>
          <td>
            <div class="context">
              <button mat-icon-button color="warn">
                <mat-icon>delete_sweep</mat-icon>
              </button>
              &nbsp;
              <button mat-icon-button color="primary" routerLink="/dashboard/customers/update/{{tempCustomer?.id}}">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
